# Ignore node_modules directory
node_modules
.env

# Ignore build artifacts
build/
dist/

# Ignore environment-specific files
.env
.env.local

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore user-specific IDE settings
.vscode/
.idea/

# Ignore compiled Python files
*.pyc

# Ignore compiled Java files
*.class

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn lock file
yarn.lock

